### textJEWK.ipynb

### Text mining: compare two books

# Packages

### Install packages

"codecs" is for reading the text files, 
"re" (regular expretions) and "collections" for working with tokens,
"nltk" (natural language toolkit)

In [6]:
!pip install pandas
!pip install numpy
!pip install scipy
!pip install scikit-learn
!pip install nltk
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (1.10.0)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scipy) (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.7.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (22.0)
Requirement already satisfied: numpy>=1.20 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

### Import packages

In [2]:
import codecs
import re
import copy
import collections

In [3]:
import numpy as np
import pandas as pd

In [4]:
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import WordPunctTokenizer

In [5]:
from __future__ import division

In [6]:
import matplotlib
%matplotlib inline

# Download stopwords

### Some specialized functions from NLTK
You can also download everything in NLTK with nltk.download(), but it will take time!

In [7]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\endri\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Import the stopwords package from NLTK

In [8]:
from nltk.corpus import stopwords

# Data

### Read data for Windows
in windows change slashes direction: from C:\Users\Sveta\Desktop\PSs\PS6\Python to C:/Users/Sveta/Desktop/PSs/PS6/Python

In [9]:
import codecs

with codecs.open(r'C:/Users/endri/amas/lec7/comp1.txt', "r", encoding="utf-8") as f:
    text_JE = f.read()

with codecs.open(r'C:/Users/endri/amas/lec7/comp2.txt', "r", encoding="utf-8") as f:
    text_WH = f.read()

# Process data
Check for stopwords

In [10]:
esw = stopwords.words('english')
esw.append("would")

Filter tokens (using regular expressions)

In [11]:
word_pattern = re.compile("^\w+$")

Create a token counter function

In [12]:
def get_text_counter(text):
    tokens = WordPunctTokenizer().tokenize(PorterStemmer().stem(text))
    tokens = list(map(lambda x: x.lower(), tokens))
    tokens = [token for token in tokens if re.match(word_pattern, token) and token not in esw]
    return collections.Counter(tokens), len(tokens)

Create a function to calculate the absolute frequency of the most commen words.

In [13]:
def make_df(counter, size):
    abs_freq = np.array([el[1] for el in counter])
    rel_freq = abs_freq / size
    index = [el[0] for el in counter]
    df = pd.DataFrame(data=np.array([abs_freq, rel_freq]).T, index=index, columns=["Absolute frequency", "Relative frequency"])
    df.index.name = "Most common words"
    return df

# Analysis

## Analyze individual texts

Calculate the most common words of Jane Eyre and display the 15 most common.

In [14]:
je_counter, je_size = get_text_counter(text_JE)

In [15]:
make_df(je_counter.most_common(15), je_size)

                   Absolute frequency  Relative frequency
Most common words
god                             544.0            0.020650
us                              356.0            0.013514
prayer                          303.0            0.011502
cloth                           183.0            0.006947
father                          170.0            0.006453
8vo                             168.0            0.006377
one                             164.0            0.006225
_                               162.0            0.006149
life                            157.0            0.005960
crown                           142.0            0.005390
pray                            133.0            0.005049
man                             132.0            0.005011
6d                              132.0            0.005011
name                            125.0            0.004745
boards                          123.0            0.004669

Save the 1000 most common words of Jane Eyre to .csv

In [16]:
je_df = make_df(je_counter.most_common(1000), je_size)
je_df.to_csv("JE2_1000.csv")

Calculate the most common words of Withering Hights and display the 15 most common.

In [17]:
wh_counter, wh_size = get_text_counter(text_WH)

In [18]:
make_df(wh_counter.most_common(15), wh_size)

                   Absolute frequency  Relative frequency
Most common words
one                             751.0            0.009500
two                             313.0            0.003959
constantinople                  293.0            0.003706
little                          260.0            0.003289
turkish                         259.0            0.003276
like                            240.0            0.003036
many                            237.0            0.002998
day                             234.0            0.002960
great                           233.0            0.002947
may                             231.0            0.002922
mosque                          229.0            0.002897
sultan                          225.0            0.002846
also                            224.0            0.002834
old                             223.0            0.002821
time                            223.0            0.002821

Save the 1000 most common words of Withering Hights to .csv

In [19]:
wh_df = make_df(wh_counter.most_common(1000), wh_size)
wh_df.to_csv("WH2_1000.csv")

# Compare texts

Find the most common words across the two documents.

In [20]:
all_counter = wh_counter + je_counter

In [21]:
all_df = make_df(wh_counter.most_common(1000), 1)
most_common_words = all_df.index.values

Create a data frame with the differences in word frequency

In [22]:
df_data = []
for word in most_common_words:
    je_c = je_counter.get(word, 0) / je_size
    wh_c = wh_counter.get(word, 0) / wh_size
    d = abs(je_c - wh_c)
    df_data.append([je_c, wh_c, d])

In [23]:
diff_df = pd.DataFrame(data=df_data, index=most_common_words,
                          columns=["JE relative frequency", "WH relative frequency", "Differences in relative frequency"])
diff_df.index.name = "Most common words"
diff_df.sort_values("Differences in relative frequency", ascending=False, inplace=True)

Display the most 20 distinctive words.

In [24]:
diff_df.head(20)

,JE relative frequency,WH relative frequency,Differences in relative frequency
Most common words,,,
god,0.020650,0.000620,0.020030
us,0.013514,0.001227,0.012287
prayer,0.011502,0.000329,0.011173
cloth,0.006947,0.000190,0.006757
father,0.006453,0.000190,0.006263
life,0.005960,0.001227,0.004733
_,0.006149,0.002188,0.003961
say,0.004631,0.000822,0.003809
shall,0.004176,0.000443,0.003733
constantinople,0.000000,0.003706,0.003706
man,0.005011,0.001695,0.003316
turkish,0.000000,0.003276,0.003276
one,0.006225,0.009500,0.003275
two,0.000721,0.003959,0.003238
book,0.003530,0.000342,0.003189
name,0.004745,0.001746,0.002999
mosque,0.000000,0.002897,0.002897
upon,0.003606,0.000759,0.002847
sultan,0.000000,0.002846,0.002846
world,0.003986,0.001214,0.002771

Save the full list of distinctive words to a dist_JEWH.csv

In [25]:
diff_df.to_csv("dist_JEWH.csv")